:root{
    --buttonBgColor: #9ab2ff;
    --buttonTextColor: white;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

body{
    background-color: var(--backgroundColor);
    color: var(--textColor);
    font-family: 'Quicksand', sans-serif;
}